[diff]
	tool = vimdiff
[user]
	useconfigonly = true
[core]
	excludesfile = ~/.dotfiles/git/.gitignore
	hookspath = ~/.dotfiles/git/hooks
    editor = vim
[branch]
    autosetupmerge = always
[push]
    default = current
